<?xml version="1.0"?>
<!--
/**
 * @author Szymon Borowski <szymon.borowski@gmail.com>
 * @copyright Copyright (c) 2024, Szymon Borowski
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pokemon>
            <api>
                <enable>1</enable>
                <url>https://pokeapi.co/api/v2</url>
            </api>
        </pokemon>
    </default>
</config>
