<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Szymon Borowski <szymon.borowski@gmail.com>
 * @copyright Copyright (c) 2024, Szymon Borowski
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Szybo\Pokemon\Api\Config\SystemConfigProviderInterface"
                type="Szybo\Pokemon\Model\Config\SystemConfigProvider"/>
    <preference for="Szybo\Pokemon\Api\Data\ActionInterface"
                type="Szybo\Pokemon\Model\Action"/>
</config>
