<?xml version="1.0"?>
<!--
/**
 * @author Szymon Borowski <szymon.borowski@gmail.com>
 * @copyright Copyright (c) 2024, Szymon Borowski
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="szybo" translate="label" sortOrder="10">
            <label>Pokemon API Integration</label>
        </tab>
        <section id="pokemon" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Pokemon</label>
            <tab>szybo</tab>
            <resource>Szybo_Pokemon::config_pokemon</resource>
            <group id="api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="url" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Pokemon API url</label>
                    <validate>validate-url</validate>
                    <depends>
                        <field id="pokemon/api/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
